td {
    background-color: tan;
    width: 70px;
    height: 70px;
    text-align: center;
}

.noPiece {
    background-color: antiquewhite;
}

.black {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: black;
    border: 1px solid gray;
    border-radius: 50%;
}

.white {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
}

.king.black {
    background-color: slategray;
}

.king.white {
    background-color: silver;
}